<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <style>
      .glass {
        border: 1px solid rgb(255 255 255 / 0.2);
        backdrop-filter: blur(4px);
      }
    </style>
  </head>
  <body class="min-h-screen bg-neutral-900 text-slate-200 antialiased">
    {{ content }}
  </body>
</html>
